<!doctype html>
<html>

    {% include "header.html" %}

    <body class="hm-index-body text-center">

    <div class="hm-container cover-container d-flex h-100 p-3 mx-auto flex-column">

        {% include "navbar.html" %}

        <main role="main" class="inner cover">
            <h1 class="cover-heading">Cover your page.</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
            </p>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p></p>
            </div>
        </footer>

    </div>

{#            <div class="card" style="width: 18rem;">#}
{#              <img class="card-img-top" src="..." alt="Card image cap">#}
{#              <div class="card-body">#}
{#                <h5 class="card-title">Card title</h5>#}
{#                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
{#                <a href="#" class="btn btn-primary">Go somewhere</a>#}
{#              </div>#}
{#            </div>#}

{#        </div>#}

    {% include "footer.html" %}

    </body>
</html>