<!doctype html>
<html>

    {% include "header.html" %}

    <body class="hm-index-body text-center">

    <div class="cover-container d-flex h-100 mx-auto flex-column">

        {% include "navbar.html" %}

        <div class="hm-container">

            <main role="main" class="inner cover">
                <h1 class="cover-heading">Instituciones Disponibles</h1>

                <div class="hm-institutions-container">

                    <div id="hm-id-all" class="hm-institution-box">
                        <div id="colours">
                            <div id="stage1"></div>
                            <div id="stage2"></div>
                            <div id="stage3"></div>
                            <div id="stage4"></div>
                            <div id="stage5"></div>
                            <div id="stage6"></div>
                            <div id="stage7"></div>
                            <div id="stage8"></div>
                            <div id="stage9"></div>
                        </div>
                        <div class="hm-institution-container">
                            <div class="hm-institution-content">
                                <div class="hm-institution-image" style="background-image: url('/static/images/gyelogo.png');">

                                </div>
                                <div class="hm-institution-info">
                                    <h3 class="hm-institution-title">Todos los Hospitales</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="hm-id-hlb" class="hm-institution-box">
                        <div id="colours">
                            <div id="stage1"></div>
                            <div id="stage2"></div>
                            <div id="stage3"></div>
                            <div id="stage4"></div>
                            <div id="stage5"></div>
                            <div id="stage6"></div>
                            <div id="stage7"></div>
                            <div id="stage8"></div>
                            <div id="stage9"></div>
                        </div>
                        <div class="hm-institution-container">
                            <div class="hm-institution-content">
                                <div class="hm-institution-image" style="background-image: url('/static/images/hlb.jpg');">

                                </div>
                                <div class="hm-institution-info">
                                    <h3 class="hm-institution-title">Hospital Leon Becerra</h3>
                                    <h6 class="hm-institucion-detail"> <strong>Tipo: </strong> Infantil </h6>
                                    <h6 class="hm-institucion-detail"> <strong>Numero de Pacientes: </strong> 15.892 </h6>
                                    <h6 class="hm-institucion-detail">
                                        <strong>
                                            <a href="https://www.bspi.org/hospital_leon_becerra.html" target="_blank">Mas Informacion</a>
                                        </strong>
                                    </h6>
                                </div>
                            </div>
{#                            <a class="hm-institucion-go">#}
{#                                <div class="hm-institucion-icon">#}
{#                                    <i class="material-icons" style="font-size: 36px;">arrow_right</i>#}
{#                                </div>#}
{#                            </a>#}
                        </div>
                    </div>

                </div>
            </main>

            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p></p>
                </div>
            </footer>
        </div>



    </div>

    {% include "footer.html" %}

    </body>
</html>