<!doctype html>
<html>

    {% include "header.html" %}

    <body class="hm-index-body text-center">

    <div class="cover-container d-flex h-100 mx-auto flex-column">

        {% include "navbar.html" %}

        <div class="hm-container">

            <main role="main" class="inner cover">
                <h1 class="hm-institutions-title">Mapas Epidemiologicos de Guayaquil</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                </p>
                <p>
                    Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
                <a href="/institutions">
                    <button type="button" class="btn btn-primary btn-lg">DESCUBRELO!</button>
                </a>


            </main>

            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p></p>
                </div>
            </footer>
        </div>



    </div>

    {% include "footer.html" %}

    </body>
</html>